<%= form_for @band do |f| %>

  <div class="band-form">
    <%= f.label       :name %>
    <%= f.text_field  :name %>
  </div>

  <div class="band-form">
    <%= f.label       :image %>
    <%= f.text_field  :image %>
  </div>

  <!-- <div class="band-form">
    <%= f.label       :festivals %>
    <%= f.text_field  :festivals %>
  </div> -->

  <div class="band-form-button">
    <%= f.submit %>
  </div>

<% end %>
