<%= form_for @band do |f| %>

  <div class="band-form">
    <%= f.label       :name %>
    <%= f.text_field  :name %>
  </div>

  <div class="band-form">
    <%= f.label       :festivals_they_are_appearing_at %>
    <%= f.select      :festival_ids,
      @festivals.map  { |f| [f.name, f.id] },
                      { include_blank: true },
                      { multiple: true, class: "chosen-select" }
    %>
  </div>

  <div class="band-form-button">
    <%= f.submit %>
  </div>

<% end %>
