<div class="festival-info">
  <p>
    {{name}}
  </p>
  <p>
    {{start_date}} - {{end_date}}
  </p>
  <p>
    {{location}}
  </p>
  <ul>
    {{#each bands}}
      <li>{{ this.name }}</li>
    {{/each}}
  </ul>
</div>
