<div class="festival-info">
  <p>
    {{name}}
  </p>
  <p>
    {{start_date}} - {{end_date}}
  </p>
  <p>
    {{location}}
  </p>

  <p>
    {{#each this.bands}}
      {{ this }}
    {{/each}}
  </p>
</div>
