<div class="festival-info">
  <p>
    {{name}}
  </p>
  <p>
    {{start_date}} - {{end_date}}
  </p>
  <p>
    {{location}}
  </p>
  <ul>
    Who'll be there?
    {{#each bands}}
      <li>{{ this.name }}</li>
    {{else}}
      <li class="empty">We don't have that info :-/</li>
    {{/each}}
  </ul>
</div>
